﻿@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <div>
        <h1>Click image below for to see competitors</h1>
        <a asp-action="Index" asp-controller="Competitors">
            <img src="https://res.cloudinary.com/teepublic/image/private/s--sL8BtF7p--/t_Preview/b_rgb:eae0c7,c_limit,f_jpg,h_630,q_90,w_630/v1506685301/production/designs/1921103_2.jpg" alt="Stylish bearded man"/>
        </a>
    </div>
</div>
